@model MVC_Project.Models.Divident

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Divident</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Payment_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Payment_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Record_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Exdate">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
