@model IEnumerable<MVC_Project.Models.Company>

@{
    ViewData["Title"] = "Company";
}
<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IexId)
            </th>
            <th>Dividends</th>
            <th>Company Statistics</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IexId)
            </td>
            <td>
                <a asp-controller="Home" asp-route-id="@item.Symbol" asp-action="Divident">Dividends</a>
            </td>
            <td>
                <a asp-controller="CompanyStats"  asp-route-name ="@item.Name" asp-route-id="@item.Symbol" asp-action="CompanyStat">Stats</a>
            </td>
        </tr>
}
    </tbody>
</table>
