@model IEnumerable<MVC_Project.Models.Sector>

@{
    ViewData["Title"] = "Sector";
}

<h2>Sector</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Performance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Performance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastUpdated)
            </td>
        </tr>
}
    </tbody>
</table>
